body {
    margin: 0;
}

#content {
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#game {
    margin: 0;
    border: 1px dashed rgb(100, 100, 100);
}

#info {
    margin: 0;
    width: 360px;
    text-align: center;
}

#title {
    text-align: center;
}
