body {
    margin: 0;
}

#title {
    text-align: center;
}

#content {
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#game {
    margin: 0;
    border: 1px dashed rgb(100, 100, 100);
}

#info {
    margin: 0;
    width: 360px;
    text-align: center;
}

#debug {
    margin: 20px auto;
    border: 2px dashed rgb(255, 0, 0);
    padding: 24px 36px;
    width: 480px;
    background-color: rgb(255, 230, 230);
    display: none;
}
